backports.entry-points-selectable==1.1.0
blabel==0.1.4
Brotli==1.0.9
cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.6
cfgv==3.3.0
click==7.1.2
cssselect2==0.4.1
defusedxml==0.7.1
distlib==0.3.2
filelock==3.0.12
fonttools==4.26.1
html5lib==1.1
identify==2.2.13
Jinja2==3.0.1
MarkupSafe==2.0.1
nodeenv==1.6.0
Pillow==8.3.1
platformdirs==2.2.0
pre-commit==2.14.0
pycparser==2.20
pydyf==0.0.3
pyphen==0.11.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyStrich==0.8
python-barcode==0.13.1
python-dotenv==0.18.0
PyYAML==5.4.1
qrcode==7.1
QScintilla==2.13.0
qt-material==2.8.8
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
QtAwesome==1.0.3
QtPy==1.9.0
six==1.16.0
tinycss2==1.1.0
toml==0.10.2
virtualenv==20.7.2
WeasyPrint==52.5
webencodings==0.5.1
zopfli==0.1.8
